html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  background-color: #343433; }

.header {
  display: flex;
  flex-direction: column;
  content: "";
  background-image: url("../img/hero-slide1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  height: 50rem;
  width: 100vw;
  padding: 0; }
  .header .hero {
    align-self: center;
    align-items: center;
    text-align: center; }
    .header .hero h1 {
      text-transform: uppercase;
      font-size: 7em;
      margin-top: 0px; }
    .header .hero h3 {
      text-transform: uppercase;
      margin-bottom: 0px; }
    .header .hero .main-divider {
      width: 250px;
      height: 5px;
      margin: -25px auto;
      background-color: white; }
    .header .hero button {
      background: #dc7725;
      color: white;
      font-size: 14px;
      text-transform: uppercase;
      font-family: "Fjalla One", sans-serif;
      letter-spacing: 2px;
      text-align: center;
      border: none;
      padding: 20px 30px; }
    .header .hero .button-arrow {
      margin-top: 0;
      padding-bottom: 3px;
      background: url("../img/btn-viewmoredown.png") bottom center no-repeat;
      height: 5px; }
    .header .hero .play-button {
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 50%;
      width: 100px;
      height: 100px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      display: block;
      transition: all 400ms ease-in-out;
      margin-top: 50px; }
      .header .hero .play-button img {
        width: 60px;
        padding: 20px 0px 20px 10px; }
    .header .hero .play-button:hover {
      transform: scale(1.3);
      transition: all 400ms ease-in-out;
      background-color: rgba(255, 255, 255, 0.7); }

.navbar {
  width: 100%;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center; }
  .navbar .logo img {
    height: 3em;
    margin-left: 20px; }
  .navbar ul {
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: baseline;
    margin: 0 4em; }
    .navbar ul li {
      flex-direction: row;
      list-style: none;
      text-transform: uppercase;
      font-family: "Fjalla One", sans-serif; }
      .navbar ul li:hover {
        color: #dc7725;
        cursor: pointer; }
  @media only screen and (max-width: 915px) {
    .navbar {
      flex-direction: column; }
      .navbar .logo {
        margin-left: 5px; }
      .navbar ul {
        width: 75%; } }
  @media only screen and (max-width: 690px) {
    .navbar .logo {
      margin: 0 auto; }
    .navbar ul {
      display: none;
      flex-direction: column;
      align-items: center;
      padding: 0; } }

.menu-bar {
  font-size: 14px;
  color: #bdbdb7;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
  background-image: url("../img/bg-categorynav.jpg");
  background-position: top;
  background-repeat: repeat-x;
  width: 100%;
  height: 80px;
  flex-direction: row;
  justify-content: space-between; }
  .menu-bar ul {
    display: flex;
    align-items: baseline; }
    .menu-bar ul li {
      flex-direction: row;
      list-style: none; }
    .menu-bar ul li:last-child {
      color: #dc7725; }
  .menu-bar a {
    margin-right: 10%;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    transition: all 400ms ease-in-out;
    color: #bdbdb7;
    font-size: 1.3em; }

.gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  .gallery .large-img {
    flex: 2;
    flex-basis: 480px;
    height: 420px;
    display: flex;
    justify-content: flex-start; }
    .gallery .large-img h3 {
      text-transform: uppercase;
      align-self: flex-end;
      margin: 10px;
      border-top: 3px solid #dc7725; }
  .gallery .small-img {
    flex: 1;
    flex: 240px;
    height: 420px;
    display: flex;
    justify-content: flex-start; }
    .gallery .small-img h3 {
      text-transform: uppercase;
      align-self: flex-end;
      margin: 10px;
      border-top: 3px solid #dc7725; }
  .gallery button {
    background-color: rgba(52, 52, 51, 0.5);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 25px;
    transition: all 400ms ease-in-out;
    position: absolute;
    margin-top: 200px;
    margin-left: 42%; }
    .gallery button img {
      width: 50px;
      margin: 0 25px; }
    .gallery button img {
      width: 50px;
      margin: 0 25px; }
    .gallery button .circle-btn:hover {
      transform: scale(1.3);
      transition: all 400ms ease-in-out;
      background-color: rgba(52, 52, 51, 0.7); }

.row {
  display: flex; }
  @media only screen and (max-width: 915px) {
    .row {
      flex-direction: column; }
      .row [class*="tile"] {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        flex: 1;
        margin: 15px;
        height: 250px;
        display: flex;
        flex-wrap: wrap; }
        .row [class*="tile"]:last-child {
          margin-right: 0; } }

.tile-1 {
  content: "";
  background-image: url("../img/home-raft.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }

.tile-2 {
  content: "";
  background-image: url("../img/home-basecamp.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }

.tile-3 {
  content: "";
  background-image: url("../img/home-backpacking.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }

.tile-4 {
  content: "";
  background-image: url("../img/home-canoe.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }

.tile-5 {
  content: "";
  background-image: url("../img/home-photo.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }

.tile-6 {
  content: "";
  background-image: url("../img/home-custom.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }

h1 {
  font-family: "Playfair Display", sans-serif; }

h3 {
  font-family: "Fjalla One", sans-serif; }

li {
  letter-spacing: 2px;
  font-size: 13px;
  line-height: 50px;
  padding-right: 30px; }

/*# sourceMappingURL=application.css.map */
