.header {
  display: flex;
  flex-direction: column;
  @include background-img("../img/hero-slide1.jpg");
  height: 50rem;
  width: 100vw;
  padding: 0;
  .hero {
    align-self: center;
    align-items: center;
    text-align: center;
    h1 {
      text-transform: uppercase;
      font-size: 7em;
      margin-top: 0px;
      // padding-bottom: 20px;
    }
    h3 {
      text-transform: uppercase;
      margin-bottom: 0px;
    }
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .large-img {
    flex: 2;
    flex-basis: 480px;
    height: 420px;
    display: flex;
    justify-content: flex-start;
    h3 {
      @include gallery-title;
    }
  }

  .small-img {
    flex: 1;
    flex: 240px;
    height: 420px;
    display: flex;
    justify-content: flex-start;
    h3 {
      @include gallery-title;
    }
  }
}

.tile-1{
  @include background-img("../img/home-raft.jpg");
}

.tile-2{
  @include background-img("../img/home-custom.jpg");
}

.tile-1{
  @include background-img("../img/home-basecamp.jpg");
}
.tile-2{
  @include background-img("../img/home-backpacking.jpg");
}
.tile-3{
  @include background-img("../img/home-canoe.jpg");
}
.tile-4{
  @include background-img("../img/home-photo.jpg");
}

.row {
  display: flex;
  @media only screen and (#{$break-mobile}) {
    flex-direction: column;
    [class*="tile"] {
      @include span-columns(12);
      flex: 1;
      margin: 15px;
      height: 250px;
      display: flex;
      flex-wrap: wrap;
    }
  }
}
