.gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .large-img {
    flex: 2;
    flex-basis: 480px;
    height: 420px;
    display: flex;
    justify-content: flex-start;
    h3 {
      @include gallery-title;
    }
  }

  .small-img {
    flex: 1;
    flex: 240px;
    height: 420px;
    display: flex;
    justify-content: flex-start;
    h3 {
      @include gallery-title;
    }
  }

  button {
    @include circle-btn();
    position: absolute;
    margin-top: 200px;
    margin-left: 42%;
    img {
      width: 50px;
      margin: 0 25px;
    }
  }
  button:hover {
    transform: #{$scale};
    transition: #{$hover};
    background-color: opacify($transparent-dark, .2);
  }

}

.row {
  display: flex;
  @media only screen and (#{$break-tablet}) {
    flex-direction: column;
    [class*="tile"] {
      @include span-columns(12);
      flex: 1;
      margin: 15px;
      height: 250px;
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.tile-1{
  @include background-img("../img/home-raft.jpg");
}

.tile-2{
  @include background-img("../img/home-basecamp.jpg");
}

.tile-3{
  @include background-img("../img/home-backpacking.jpg");
}
.tile-4{
  @include background-img("../img/home-canoe.jpg");
}
.tile-5{
  @include background-img("../img/home-photo.jpg");
}
.tile-6{
  @include background-img("../img/home-custom.jpg");
}
