h1 {
  font-family: $titles-font-family;
}

h3 {
  font-family: $secondary-font-family;
}

li {
  letter-spacing: 2px;
  font-family: $secondary-font-family;
  font-size: 13px;
  line-height: 50px;
  padding-right: 30px;
}
