@mixin gallery-title {
  text-transform: uppercase;
  align-self:flex-end;
  margin: 10px;
  border-top: 3px solid $secondary-color;
}

@mixin background-img($img-name) {
  content: "";
  background-image: url($img-name);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

@mixin play-background {
  background-color: rgba(255,255,255,0.4);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  display: block;
  transition: #{$hover};
}
