// Font weights
$light: 100;
$regular: 400;
$bold: 600;

//screen break-points
$break-tablet: 'max-width:915px';
$break-mobile: 'max-width:690px';

// Base Font
$base-font-family: 'Open Sans', sans-serif;
$base-font-weight: $regular;
$base-font-size: 18px;
$base-line-height: 30px;
$base-text-color: white;

// Secondary Font
$secondary-font-family: 'Fjalla One', sans-serif;

// Titles Font
$titles-font-family: 'Playfair Display', sans-serif;

// colors

$secondary-color: #dc7725;
$background-color: #343433;
$grey: #bdbdb7;
$dark-grey: #000000;
$light-grey: #454542;
$lighter-grey: #e6e6e0;
$transparent-light: transparentize($base-text-color, .5);
$transparent-dark: transparentize($background-color, .5);

// transitions

$hover: 'all 400ms ease-in-out';
$scale: 'scale(1.3)';
